.card{
    margin-bottom: 30px;
    margin-top: 0px;
    box-shadow: 3px 3px 15px rgb(160, 155, 155);
    height: 200px;
}

.headlines {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
a{
    margin: 7px;
}
.cardFooter{
    font-weight: lighter;
    font-size: 13px;
    text-align: left;
}
span{
    margin: 7px;
}
.title {
    color: black;
    text-decoration: none!important;
}